<a href="https://colab.research.google.com/github/Mayank8451/AlwaysRemember/blob/master/Codewar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def reverse(arr):
  for i in range(0, int(len(arr)/2)):
    other = len(arr)-i-1
    temp = arr[i]
    arr[i] = arr[other]
    arr[other] = temp 
  print(arr)  

arr = [1,2,3,4]
reverse(arr)

[4, 3, 2, 1]

In [ ]:
def dis(price, dis):
  return (price/100)*dis + price

dis(100, 20)
dis(150, 10)

165.0

In [ ]:
def asc_des_none(lst, s):
  if s == "Asc" or s == "asc":
    return sorted(lst)
  elif s == "Des" or s == "des":
    return sorted(lst, reverse=True)
  elif s == "None" or s == "none":
    return lst
  else:
    return "Error"

In [ ]:
print(asc_des_none([9,56,88,1,3,15,14], "none"))

[9, 56, 88, 1, 3, 15, 14]

In [ ]:
# invert Colors

In [ ]:
def color_invert(rgb):
  inverted = tuple(255 - value for value in rgb)
  return inverted

In [ ]:
print(color_invert((255, )))

(0,)

In [ ]:
def damage(damage, speed, time):
   if damage < 0 or speed < 0:
    return "invalid"  


   if time == "second":
        return damage * speed
   elif time == "minute":
        return damage * speed * 60
   elif time == "hour":
        return damage * speed * 60 * 60

In [ ]:
print(damage(-10, 45, "second"))

invalid

In [ ]:
print(damage(80, 5, "second"))
print(damage(75, 2, "minute"))
print(damage(-80, 5, "hour"))

400
9000
invalid

In [ ]:
def interview(times, total_time):
  if len(times) != 8:
    return "dis"

  time_limits = [5, 5, 10, 10, 15, 15, 20, 20]
  max_total_time = 120 + 20

  for i in range(8):
    if times[i] > time_limits[i]:
      return "dis"  

  if sum(times) > total_time or total_time > max_total_time:
    return "dis"

  return "qua"

In [ ]:
print(interview([5,5,8,1,1,5,10,20], 70))

qua

In [ ]:
def stutter(word):
  if len(word) < 2:
    return word

  first_two_letters = word[:2]
  stuttered_word = (first_two_letters + "... ") * 2 + word + "?"
  return stuttered_word

In [ ]:
print(stutter("qascvbnjytrds"))

qa... qa... qascvbnjytrds?

In [ ]:
def split(num):
  half = num // 2
  if num % 2 == 1:
    return [half, half + 1]
  else:
    return [half, half]

In [ ]:
print(split(8954))

[4477, 4477]

In [ ]:
# def is_cuzon(n, m):
#   if
#    a =  n ** m + 1 
#    b  = n * m + 1 
#    a % b == 0 :
#     return True
#   else:
#     return False

def is_curzon(num):
  numerator = 2 ** num + 1
  demoninator = 2 * num + 1
  return numerator % demoninator == 0

In [ ]:
def fact(n):
  if n == 0:
    return 1
  else: 
    return n * fact(n-1)

In [ ]:
print(fact(25))

15511210043330985984000000

In [ ]:
def security(data):
  money_index = data.find("$")
  thief_index = data.find("T")
  guard_index = data.find("G")

  if (thief_index < money_index < guard_index) or (thief_index > money_index > guard_index):
    return "ALARM!"
  else:
    return "Safe"

In [ ]:
print(security("XXXXTTXxxGWQDF$"))

Safe

In [28]:
#Find the parity outlier

def find_outlier(integers):
  even_count = 0
  odd_count = 0

  for num in integers:
    if num % 2 == 0:
      even_count += 1
    else:
      odd_count += 1

  if even_count > 1:
    return next(num for num in integers if num % 2 != 0)
  else:
    return next(num for num in integers if num % 2 == 0)

In [35]:
print(find_outlier([44,94,90,94,12,78,90,34,5]))

5

In [36]:
print(find_outlier([51, 59, 57, 63,44, 45, 65, 85]))

44

In [37]:
def summary_range(nums):
  ret, s = [], float('-inf')
  for e, n in zip([s] + nums, nums + [-s]):
    if n - e > 1:
      ret.append(['{}', '{}->{}'][s<e].format(s,e))
      s = n
  return ret[1:]

In [40]:
nums = [1,2,3,4,5,9,8,7,6,5,4]

print(summary_range(nums))

['1->5', '9']

In [42]:
def is_pali(num):
  num_str = str(num)
  return num_str == num_str[::-1]

In [43]:
print(is_pali(963369))

True